<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Expense-Tracker</title>
</head>
<body>
    <form action="/user/Signup" method="POST">
      Enter your Name:<input type="text" name="Name" required>
      <br>Enter your Email:<input type="email" name="email" required>
      <br>Enter your Password:<input type="text" name="password" required>
      <br><button type="submit"> Submite</button>
    </form>
</body>
</html>