<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <form onsubmit="login(event)">
       Email: <input type="email" name="email" required>
       <br>Password: <input type="password" name="password" required>
       <button type="submit">Submit</button>
    </form>
    <div id="errorMessage"></div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="Ftlogin.js"></script>
</body>
</html>
